/*
Title: MedWordle
Description: Wordle with medical terms
Last Updated: Sep 13, 2023
Developer: Alexander Beck
Email: beckhv2@gmail.com
Github: https://github.com/bexcoding
*/


body {
    margin: 0;
    padding: 0;
    font-size: 18px;
}
